@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite';
}

.container.dark {
    background-color: black;
    color: white;
}

button {
    padding: 40px 60px;
    font-family: inherit;
    font-size: 2rem;
    background-color: orangered;
    border-radius: 5px;
}

button.dark {
    color: orangered;
    background-color: white;
    border: none;
}